body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #964b00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1100;
}

.logo img {
  height: 50px;
  object-fit: cover;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #f5f5dc;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #f5f5f5;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-links a:hover::after {
  width: 100%;
}

ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: 24px;
  color: #f5f5dc;
  z-index: 1200;
}

.hamburger-menu .line {
  background: #fff;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.hamburger-menu i {
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.hero {
  background: url("img/Terraza.webp") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.cta-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  max-width: 150px;
  margin: 0 auto;
  display: block;
  background: #964b00;
  color: #f5f5dc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.cta-button:hover {
  background-color: #f5f5dc;
  color: #964b00;
  border: 2px solid #964b00;
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.cta-button:active {
  transform: scale(0.95);
}

.benefits-section {
  background-color: #f5f5dc;
  padding: 50px 20px;
  text-align: center;
}

.benefits-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #964b00;
  margin-bottom: 20px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.benefit {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.benefit:hover {
  transform: scale(1.05);
}

.benefit i {
  font-size: 2rem;
  color: #ffa07a;
  margin-bottom: 10px;
}

.benefit h3 {
  font-family: "Montserrat", sans-serif;
  color: #964b00;
  margin-bottom: 10px;
}

.benefit p {
  color: #333;
}

.about-section {
  padding: 50px 20px;
  text-align: center;
}

.about-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #964b00;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1rem;
  color: #333;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
}

.gallery-section {
  background-color: #f5f5dc;
  text-align: center;
  padding: 20px 10px;
}

.gallery-section h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #964b00;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.ubicacion-section {
  background-color: #f5f5dc;
  padding: 50px 20px;
  text-align: center;
}

.ubicacion-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #964b00;
  margin-bottom: 20px;
}

.ubicacion-contenido {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.ubicacion-lugares {
  flex: 1;
  text-align: left;
}

.ubicacion-lugares h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #964b00;
  margin-bottom: 20px;
}

.ubicacion-lugares ul {
  list-style-type: none;
  padding: 0;
}

.ubicacion-lugares li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.8;
}

.ubicacion-lugares li strong {
  color: #964b00;
}

.ubicacion-mapa {
  flex: 1;
}

.ubicacion-mapa iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#amenities-services h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #964b00;
  font-weight: bold;
  margin-bottom: 20px;
}

#amenities-services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#amenities-services li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}

#amenities-services li i {
  color: #ffa07a;
  margin-right: 10px;
}

.amenities-button,
.btn-primary {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: auto;
  background-color: #964b00;
  color: #f5f5dc;
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: var(--btn-radius);
  border: 2px solid #f5f5dc;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: var(--font-medium);
}

.amenities-button:hover,
.btn-primary:hover {
  background-color: #f5f5dc;
  color: #964b00;
  border: 2px solid #964b00;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-title {
  color: #964b00;
}

.modal-body ul {
  list-style: none;
  padding: 0;
}

.modal-body ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.modal-body ul li i {
  color: #ffa07a;
  margin-right: 10px;
}

#reseñas {
  color: #333;
}

#reseñas h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #964b00;
  font-weight: bold;
  margin-bottom: 10px;
}

.reseña-imagen {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.carousel-item {
  padding: 20px;
}

.carousel-item img {
  border: 2px solid #964b00;
  padding: 5px;
}

.btn-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anfitrion-foto {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #964b00;
}

.boton-flotante {
  position: fixed;
  bottom: 120px;
  right: 20px;
}

.btn-floating {
  background-color: #964b00;
  color: #f5f5dc;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-floating:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f5f5dc;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.faq-section {
  background-color: #f5f5dc;
  padding: 50px 20px;
}

.faq-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #964b00;
  text-align: center;
  margin-bottom: 30px;
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}

.faq-question {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #964b00;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  color: #ffa07a;
}

.faq-icon {
  font-size: 1.2rem;
  font-weight: bold;
}

.faq-answer {
  display: none;
  padding: 10px 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.faq-answer.open {
  display: block;
}

.floating-airbnb {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: rgb(255, 90, 96);
  color: white;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.floating-airbnb i {
  font-size: 1.5rem;
}

.floating-airbnb:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.btn-flotante i {
  font-size: 1.5rem;
}

.btn-flotante:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-contact {
  background-color: #964b00;
  color: #f5f5dc;
  border: 2px solid #f5f5dc;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-contact:hover {
  background-color: #f5f5dc;
  color: #964b00;
  border: 2px solid #964b00;
}

footer {
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .navbar {
    padding: 10px 20px;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: #964b00;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1100;
  }
  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-links ul li a {
    display: block;
    padding: 15px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #f5f5dc;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
  }
  .nav-links ul li a.active {
    color: #f5f5dc;
    padding-bottom: 13px;
  }
  .nav-links.open {
    transform: translateX(0);
  }

  .hamburger-menu {
    display: block;
  }
  .overlay.open {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .floating-airbnb {
    bottom: 60px;
    right: 15px;
    font-size: 1rem;
    padding: 8px 12px;
  }

  .floating-airbnb i {
    font-size: 1.2rem;
  }

  .btn-flotante {
    bottom: 15px;
    right: 15px;
    font-size: 1rem;
    padding: 8px 12px;
  }

  .btn-flotante i {
    font-size: 1.2rem;
  }

  .boton-flotante {
    bottom: 95px;
    right: 3px;
    padding: 8px 12px;
  }

  .btn-floating i {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .ubicacion-contenido {
    flex-direction: column;
    gap: 30px;
  }

  .ubicacion-lugares {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .amenities-button {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

/* @media screen and (max-width: 768px) {
  section {
    scroll-margin-top: 100px;
  }
} */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-height: 90%;
    max-width: 90%;
  }

  .hero-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .cta-button {
    padding: 10px;
    font-size: 0.9rem;
  }
}
